@font-face {
    font-family: 'Rather';
    src: url('./assets/fonts/Rather-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/Rather-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rather';
    src: url('./assets/fonts/Rather-Regular.woff2') format('woff2'),
        url('./assets/fonts/Rather-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}